{% extends "admin/Common/iframe_common.html.twig" %}
{% block container %}
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{lang('block_list')}}</h5>
                    </div>
                    <div class="ibox-content container-fluid">
                        <form action="{{base_url('admin/BlockManage/index/1')}}">
                            <div class="row col-md-12">
                                <div class="col-md-3 form-group">
                                    <label for="search-username">{{lang('block_title')}}</label>
                                    <input type="text" class="form-control" name="title" id="search-username" value="{{getArr.title}}">
                                </div>
                                <div class="col-md-3 form-group">
                                    <label for="null" class="center-block">&nbsp;</label>
                                    <button type="submit" class="btn btn-primary" id="search-btn"><i class="fa fa-search"></i>{{lang('search')}}</button>
                                    <button type="button" class="btn btn-primary add-block"><i class="fa fa-plus"></i>&nbsp;{{lang('add_block')}}
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive col-md-12">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>           
                                        <th>id</th>
                                        <th>Identity Key</th>                          
                                        <th>{{lang('block_title')}}</th>
                                        <th>{{lang('item_count')}}</th>
                                        <th>{{lang('description')}}</th>
                                        <th>{{lang('create_time')}}</th>
                                        <th>{{lang('actions')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for data in blockData %}
                                    <tr>
                                        <td>
                                            {{data.id}}
                                        </td>
                                        <td>
                                            {{data.identity_key}}
                                        </td>
                                        <td>
                                            {{data.title}}
                                        </td>
                                        <td>
                                           {{data.item_count}}
                                        </td>
                                        <td>
                                             {{data.description|slice(0,25)}}
                                        </td>
                                        <td>
                                            {{data.create_time}}
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)" class="btn btn-sm btn-primary edit-btn" data-id="{{data.id}}" title="{{lang('edit')}}"><i class="fa fa-edit"></i></a>
                                           <a href="javascript:void(0)" class="btn btn-sm btn-primary item-btn" data-id="{{data.id}}" data-block-title="{{data.title}}" title="{{lang('edit_item')}}"><i class="fa fa-list"></i></a>                                          
                                            <a href="javascript:void(0)" class="btn btn-sm btn-danger delete-btn" data-id="{{data.id}}" title="{{lang('delete')}}"><i class="fa fa-trash">                                     
                                            
                                        </td>
                                    </tr>
                                 {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="fixed-table-pagination col-md-12">
                            <div class="pull-left pagination-detail">
                                <span class="pagination-info">{{lang('total_rows')}}<strong>{{dataCount}}</strong>{{lang('rows')}}&nbsp;<strong>{{pager.nowindex}}/{{pager.totalpage}}</strong>{{lang('pages')}}</span>
                            </div>
                            {% autoescape true %}  
                             {{pager.show(1)|raw }}
                            {% endautoescape %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
        $(document).on('click','.add-block',function(){
            var openLayer = layer.open({
              type: 2,
              closeBtn:1,
              title:'{{lang("add_block")}}',
              shadeClose: false, //开启遮罩关闭
              area: ['70%', '90%'],
              maxmin: true,
              content:'{{base_url("admin/BlockManage/renderEditBlock")}}'
            });
            layer.full(openLayer)
        })
        $(document).on('click','.item-btn',function(){
            var id = $(this).data('id');
            var title = $(this).data('block-title')
            var openLayer = layer.open({
              type: 2,
              closeBtn:1,
              title:'{{lang("edit_item")}}'+title,
              shadeClose: false, //开启遮罩关闭
              area: ['70%', '90%'],
              maxmin: true,
              content:'{{base_url("admin/BlockManage/renderEditItem")}}?bid='+id
            });
            layer.full(openLayer)
        })        
        $(document).on('click','.edit-btn',function(){
            var id = $(this).data('id')

            var openLayer = layer.open({
              type: 2,
              closeBtn:1,
              title:'{{lang("edit")}}',
              shadeClose: false, //开启遮罩关闭
              area: ['600px', 'auto'],
              maxmin:true,
              content:'{{base_url("admin/BlockManage/renderEditBlock")}}?bid='+id,
            });
            layer.full(openLayer)

                
        })

        $(document).on('click','.delete-btn',function(e){
            var $this = $(this);
            var id = $this.data("id");
            layer.msg("{{lang('delete_confirm')}}",{
                time:0,
                btn:['{{lang("confirm")}}','{{lang("cancel")}}'],
                yes:function(){
                    $.ajax({
                        url: '{{base_url("admin/BlockManage/delBlock")}}',
                        type: 'POST',
                        dataType: 'json',
                        data: {'bid': id},
                        timeout:4000,
                        beforeSend:function(){
                            layer.load(2);
                        }
                    })
                    .done(function(e) {
                        if (e.status!=1) {
                            common.ajaxError(e);
                            return false;
                        }
                        layer.closeAll();
                        window.location.reload();
                        parent.layer.msg(e.message,{
                            icon:1
                        });                

                    })
                    .fail(function(e) {
                        common.ajaxError(e)
                    })
                    .always(function() {
                        layer.closeAll('loading');
                    });
                    
                }
            })
        })
        $(document).on("click", "#add-user", function(){
           var data = {
                realname:$("#add-realname").val(),
                email:$('#add-email').val(),
                user_role:$('#add-role').val(),
                type:'add'
           }
           $.ajax({
                url: '{{base_url("admin/UserManage/editUser")}}',
                type: 'POST',
                dataType: 'json',
                timeout:4000,
                data:data,
                beforeSend:function(){
                    layer.load(2);
                }
           })
           .done(function(e) {
                if (e.status!=1) {
                    common.ajaxError(e);
                    return false;
                }
                layer.closeAll();
                window.location.href = window.location.href;
                parent.layer.msg(e.message,{
                    icon:1
                });
           })
           .fail(function(e) {
                common.ajaxError(e)
           })
           .always(function() {
                layer.closeAll('loading');
           });
           
        });
        $(document).on('click','#edit-user',function(){
            var data = {
                uid:$(this).data('id'),
                realname:$("#edit-realname").val(),
                email:$('#edit-email').val(),
                user_role:$('#edit-role').val(),
                type:'edit'
           }
           $.ajax({
                url: '{{base_url("admin/UserManage/editUser")}}',
                type: 'POST',
                dataType: 'json',
                timeout:4000,
                data:data,
                beforeSend:function(){
                    layer.load(2);
                }
           })
           .done(function(e) {
                if (e.status!=1) {
                    common.ajaxError(e);
                    return false;
                }
                layer.closeAll();
                window.location.reload();
                
                parent.layer.msg(e.message,{
                    icon:1
                });
           })
           .fail(function(e) {
                common.ajaxError(e)
           })
           .always(function() {
                layer.closeAll('loading');
           });
        })

    });

</script>
{% endblock %}