{% extends "admin/Common/iframe_common.html.twig" %}
{% block container %}
<link rel="stylesheet" type="text/css" href="{{base_url('public/admin/css/plugins/summernote/summernote.css')}}">
<link rel="stylesheet" type="text/css" href="{{base_url('public/admin/css/plugins/summernote/summernote-bs3.css')}}">
<link rel="stylesheet" type="text/css" href="{{base_url('public/admin/css/plugins/webuploader/webuploader.css')}}">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-title">
                <h5>{{lang('block_info')}}</h5>
            </div>            
            <div class="ibox float-e-margins">
                <div class="ibox-content container-fluid">
                    <div class="row">
                        <div class="form-group col-sm-3 must">
                            <label for="none">Identity key</label>
                            <input class="form-control form-data" id="identity_key" readonly="readonly" data-name="identity_key"  value="{{block.identity_key}}" />
                        </div>
                    </div>                                        
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label for="none">URL</label>
                            <input class="form-control form-data" id="add-url" data-name="url"  value="{{block.url}}" />
                        </div>
                        <div class="form-group col-sm-3 ">
                            <label for="">{{lang('open_type')}}</label><br>
                            <div data-name="target" id="add-target" class="btn-group">
                                <button data-value="_self" class="btn btn-white btn-toggle {% if '_self' == block.target %} active{% endif %}" >{{lang('current_window')}}</button>                                
                                <button data-value="_blank" class="btn btn-white btn-toggle {% if '_blank' == block.target %} active{% endif %}" >{{lang('new_window')}}</button>
                            </div>
                        </div>
                    </div>

                    <div class="tabs-container">
                        <ul class="nav nav-tabs"> 
                            {% for enable in e_langs %}  
                                <li {% if loop.first %}class="active"{% endif %}><a data-toggle="tab" href="#tab-{{ loop.index }}" aria-expanded="{% if loop.first %}true{% else %}false{% endif %}">{{enable.language}}</a>
                            </li>
                            {% endfor %}                           
                        </ul>
                            <div class="tab-content">  
                                {% for enable in e_langs %}  
                                    <div id="tab-{{ loop.index }}" data-lang="{{enable.code}}" class="info-tab tab-pane active">
                                        <div class="panel-body">
                                            <div class="form-group must">
                                                <label for="none">{{lang("block_title")}}</label>
                                                <input class="form-control form-data" data-name="title"  value="{{block_i18n[enable.code].title }}" />
                                            </div>
                                            <div class="form-group" style="max-width: 400px;">
                                                <label for="none">{{lang("image")}}</label>
                                                <div class="uploader-container">
                                                    <input type="hidden" class="form-control form-data image_url" data-name="image_url"  value="{{block_i18n[enable.code].image_url}}" />
                                                    <div class="uploader-list">
                                                        <img src="{{static_url(block_i18n[enable.code].image_url)}}" alt="" style="max-width:100%;height:auto;margin-bottom: 10px;">
                                                    </div>
                                                    <div class="filePicker">{{lang("choose_image")}}</div>
                                                </div>                            
                                            </div>                                            
                                            <div class="form-group" style="max-width: 400px;">
                                                <label for="none">{{lang("vice_image")}}</label>
                                                <div class="uploader-container">
                                                    <input type="hidden" class="form-control form-data image_url" data-name="vice_image_url"  value="{{block_i18n[enable.code].vice_image_url}}" />
                                                    <div class="uploader-list">
                                                        <img src="{{static_url(block_i18n[enable.code].vice_image_url)}}" alt="" style="max-width:100%;height:auto;margin-bottom: 10px;">
                                                    </div>
                                                    <div class="filePicker">{{lang("choose_image")}}</div>
                                                </div>                            
                                            </div>  
                                            <div class="form-group">
                                                <label for="none">{{lang("description")}}</label>
                                                <textarea rows='3' class="form-control form-data" data-name="description">{{block_i18n[enable.code].description}}</textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="none">{{lang("content")}}</label>
                                                 <div class="form-control editor form-data" data-name="content" >{{block_i18n[enable.code].content|raw}}</div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}                                 
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-success" type="button" data-id="{{bid}}" data-type="{{btn_type}}" id="add-block">
            {{lang("submit")}}
        </button>
    </div>       
</div>
{% endblock %}
{% block script %}
<script src="{{base_url('public/admin/js/plugins/summernote/summernote.min.js')}}"></script>    

<script src="{{base_url('public/admin/js/plugins/webuploader/webuploader.min.js')}}"></script>    
<script>
var static_url = '{{static_url("")}}';
jQuery(document).ready(function($) {
    $('.editor').summernote({
        minHeight: 300,
        callbacks:{
            onImageUpload: function(files, editor, welEditable) {
            },
            onPaste:function(e){

            }
            
        }
    });    
    $(document).on('change', '#add-link-type', function(event) {
        var type = $(this).val();
        if(type!=1){
            $('#add-pid').parent().addClass('hide');

        }else{
            $('#add-pid').parent().removeClass('hide');

        }
        /* Act on the event */
    });    
    
    $(document).on('remove', '.note-editor img', function(event) {
        event.preventDefault();
    });
    $(document).on('dblclick',"#identity_key",function(){
        $(this).removeAttr('readonly')
    })
    $(document).on('click', '#add-block', function(event) {
        var data = {
            "image_url":$('#old-image-url').val(),
            "url":$("#add-url").val(),
            "identity_key":$("#identity_key").val(),
            "target":$("#add-target .active").data("value")||"_self"
        };
        if (data.nav_type==1) {
            data.bid = $("#add-pid").val();
        }
        $('.info-tab').each(function(index, el) {
            var info = {};
            $(this).find('.form-data').each(function(index, el) {
                var $this = $(this);
                switch ($this[0].nodeName.toLowerCase()) {
                    case "div":
                        info[$this.data("name")] = $this.summernote('code')
                        break;
                    case "textarea":
                        info[$this.data("name")] = $this.val();
                        break;
                    default:
                        info[$(this).data("name")] = $this.val();
                        break;
                }
            });
            data[$(this).data("lang")] = info;
        });
        if($(this).data('id')!=""){
            data.bid = $(this).data('id')
        }
        data.type = $(this).data('type');
        $.post('{{base_url("admin/BlockManage/editBlock")}}',data, function(data, textStatus, xhr) {
        },"json")
        .then(function(e){
            if (e.status!=1) {
                common.ajaxError(e);
                return false;
            }    
            parent.layer.msg(e.message,{icon:1,time:1500},function(){
                parent.window.location.reload();
                
            })            
        })
    });       
    $('.uploader-container').each(function(index, el) {
        var piker = $(this).find('.filePicker');
        var list = $(this).find('.uploader-list');
        var imgUrl = $(this).find('.image_url')     
        var uploader = WebUploader.create({
            auto: true,
            // swf文件路径
            swf: "{{base_url('public/admin/js/plugins/webuploader/Uploader.swf')}}",
            server: "{{base_url('admin/Common/doUpload?filepath=block')}}&site={{siteid}}",
            pick: piker,
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            }
        });
        uploader.on('uploadSuccess',function( file,res ) {
            if(res.status!="1"){
                layer.msg(res.message);
                return false;
            }
            var $li = $(
                    '<div id="' + file.id + '" class="file-item thumbnail">' +
                        '<img>' +
                        '<div class="info">' + file.name + '</div>' +
                    '</div>'
                    ),
            $img = $li.find('img');
            list.empty().append( $li );
            uploader.makeThumb( file, function( error, src ) {
                if ( error ) {
                    $img.replaceWith('<span>不能预览</span>');
                    return;
                }
                $img.attr( 'src', static_url+res.data.file_name );
               imgUrl.val(res.data.file_name)
            }, 'auto', "auto" );    
        })      
    });
    setTimeout(function(){
        $('.info-tab').eq(0).siblings('.info-tab').removeClass('active')
    },30)//webuploader和tab切换有问题，所以先显示tab   
});
</script>
{% endblock %}