{% extends "admin/Common/iframe_common.html.twig" %}
{% block container %}
<div class="wrapper wrapper-content">
    <div class="row">
           <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{lang('auth_list')}}</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content container-fluid">
                      <form id="addMenuForm">
                            <div class="row col-md-12">
                                <div class="col-md-2 form-group">
                                    <label for="search-username">{{lang('parent_menu')}}：</label>
                                        <select class="form-control" name="pid">
                                        <option value="0">--{{lang('top_menu')}}--</option>
                                            {% autoescape true %}  
                                                {{menus|raw}}
                                            {% endautoescape %}
                                        </select>
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>{{lang('is_show')}}：</label>
                                    <select class="form-control" name="isshow">
                                        <option value="1">{{lang('show')}}</option>
                                        <option value="0">{{lang('hidden')}}</option>
                                    </select>
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>{{lang('menu_name')}}：</label>
                                    <input type="text" name="title" placeholder="{{lang('Please_enter_the_menu_name')}}" class="form-control">
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>{{lang('controller_method')}}：</label>
                                    <input type="text" name="name" placeholder="{{lang('Please_enter_the_controller_method')}}" class="form-control">
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Icon：</label>
                                    <input type="text" name="icon" placeholder="Icon" class="form-control">
                                </div>
                                <div class="col-md-1 form-group">
                                    <span style="margin-top: 22px;" href="javascript:void(0);" class="btn btn-primary add-field" id="addMenu"><i class="fa fa-plus"></i>&nbsp;&nbsp;{{lang('add_menu')}}</span>
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <div class="col-md-2 form-group">
                                    <span class="btn btn-primary add-field" id="rule-order-btn">{{lang('sort')}}</span>
                                </div>
                            </div>
                        </form>
                        <form id="rule-order" name="rule-order">


                        <div class="table-responsive col-md-12">
                            <table class="table table-striped table-hover">
                                <thead>
                                            <tr>
                                            <th>{{lang('sort')}}</th>
                                            <th>ID</th>
                                            <th>{{lang('menu_name')}}</th>
                                            <th>{{lang('controller_method')}}</th>
                                            <th>{{lang('is_show')}}</th>
                                            <th>{{lang('create_time')}}</th>
                                            <th>{{lang('actions')}}</th>
                                        </tr>
                                </thead>
                                <tbody>
                                    {% autoescape true %}  
                                        {{tr|raw}}
                                    {% endautoescape %}
                                </tbody>
                            </table>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>
<!-- 编辑菜单模态框 -->
<div class="modal fade" id="edit_menu" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{{lang('edit_menu')}}</h4>
         </div>
         <div class="modal-body">
            <form class="form-horizontal" id="form-edit-menu" autocomplete="off">

                <div class="form-group">
                    <label class="col-lg-3 control-label">{{lang('menu_name')}}：</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" required="true" name="menu_title" id="menu_title">
                        <input type="hidden" name="menuid" id="menuid">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">{{lang('controller_method')}}：</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" required="true" name="method" id="method">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">{{lang('is_show')}}：</label>
                    <div class="col-sm-8">
                        <select class="form-control m-b" id="is_show">
                            <option value="1">yes</option>
                            <option value="0">no</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">icon：</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" required="true" name="icon" id="icon">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">{{lang('Select_Hierarchy')}}：</label>
                    <div class="col-sm-8">
                        <select class="form-control m-b" name="pid" id="menus">

                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-5 col-sm-offset-3">
                        <span class="btn btn-primary" id="save_menu">{{lang('save')}}</span>
                        <button type="button" class="btn btn-default col-sm-offset-1" data-dismiss="modal">{{lang('cancel')}}</button>
                    </div>
                </div>
            </form>
         </div>
      </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
        window.onload = function(){
        　　$(".delete-btn").click(function(){
        　　　　var id = $(this).data('val');
                del_menu(id);
        　　});

            $(".edit-btn").click(function(){
                var id = $(this).data('val');
                $.ajax({
                    type:"POST",
                    url:"{{base_url('admin/AuthMenu/ajaxGetMenu')}}",
                    data:{id:id},
                    dataType:"json",
                    success:function(data){
                        if(data.status=='success'){
                            $('#menus').html(data.data['menus']);
                            $('#menus').find("option[value='"+data.data['info']['pid']+"']").attr("selected",true);
                            $('#is_show').find("option[value='"+parseInt(data.data['info']['is_show'])+"']").attr("selected",true);
                            $('#menu_title').val(data.data['info']['language_label']);
                            $('#menuid').val(data.data['info']['id']);
                            $('#method').val(data.data['info']['method']);
                            $('#icon').val(data.data['info']['icon']);
                        }else{
                            layer.msg(data.message,{icon: 2});
                        }
                    }
                })
                $('#edit_menu').modal('show');
            })

            //编辑保存菜单
            $('#save_menu').click(function(){
                id = $('#menuid').val();
                is_show = $('#is_show').val();
                method = $('#method').val();
                pid = $('#menus').val();
                menu_title = $('#menu_title').val();
                icon = $('#icon').val();
                $.ajax({
                    type:"POST",
                    url:"{{base_url('admin/AuthMenu/saveMenu')}}",
                    data:{id:id,is_show:is_show,pid:pid,menu_title:menu_title,method:method,icon:icon},
                    dataType:"json",
                    success:function(data){
                        if(data.status=='success'){
                            layer.msg(data.message,{icon: 1});
                            window.location.reload(true);
                            layer.close(index);
                        }else{
                            layer.msg(data.message,{icon: 2});
                        }
                    }
                })
            })

            function del_menu(id){
                 layer.confirm('{{lang("Are_you_sure_you_want_to_delete_this_menu")}}', {icon: 3, title:'{{lang("Confirm_delete_menu")}}'}, function(index){
                    $.ajax({
                        type:"POST",
                        url:"{{base_url('admin/AuthMenu/delMenu')}}",
                        data:{id:id},
                        dataType:"json",
                        success:function(data){
                            if(data.status=='success'){
                                layer.msg(data.message,{icon: 1});
                                window.location.reload(true);
                                layer.close(index);
                            }else{
                                layer.msg(data.message,{icon: 2});
                            }
                        }
                    })
                 })
            }

            $('#rule-order-btn').click(function(){
                $.ajax({
                 type: "POST",
                 url: "{{base_url('admin/AuthMenu/order')}}",
                 data: $('#rule-order').serialize(),
                 dataType: "json",
                 success: function(data){
                    if(data.status=='success'){
                        layer.msg(data.message,{icon: 1});
                        window.location.reload();
                    }else{
                        layer.msg(data.message,{icon: 2});
                    }
                 }})
            })

            $('#addMenu').click(function(){
                var data = $('#addMenuForm');
                add_menu(data);
            })

            function add_menu(data){
                var title = data.find('input[name=title]').val();
                var name = data.find('input[name=name]').val();
                if(!title){
                    layer.msg('{{lang("Menu_name_cannot_be_empty")}}',{icon: 2});
                }else{

                    layer.confirm('{{lang("Are_you_sure_you_want_to_add_this_menu")}}', {icon: 3, title:'{{lang("Confirm_add_menu")}}'}, function(index){
                        $.ajax({
                            type:"POST",
                            url:"{{base_url('admin/AuthMenu/addMenu')}}",
                            data:data.serialize(),
                            dataType:"json",
                            success:function(data){
                                // console.log(data);
                                if(data.status=='success'){
                                    layer.msg(data.message,{icon: 1});
                                    window.location.reload(true);
                                    layer.close(index);
                                }else{
                                    layer.msg(data.message,{icon: 2});
                                }
                            }
                        })
                    })
                }
            }

        }
</script>
{% endblock %}




