{% extends "admin/Common/iframe_common.html.twig" %}
{% block container %}
<link rel="stylesheet" type="text/css" href="{{base_url('public/admin/css/plugins/iCheck/custom.css')}}">
    <div class="wrapper wrapper-content">
        <div class="row">                       
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{lang('user_profile')}}</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">                           
                            <label for="none">{{lang('user_realname')}}</label>
                            <input type="text" id="user-realname" class="form-control" value="{{user.realname}}">                         
                        </div>
                         <div class="form-group">
                            <button class="btn btn-success edit-profile" data-type="1" type="button" id="set-profile">
                                {{lang("submit")}}
                            </button>
                        </div>                       
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{lang("modify_password")}}</h5>
                    </div>
                    <div class="ibox-content">                      
                            <div class="form-group">                           
                                <label for="none">{{lang('old_password')}}</label>
                                <input type="password" autocomplete="off" id="user-password-old" onpaste="return false;" class="form-control">                         
                            </div>
                            <div class="form-group">                           
                                <label for="none">{{lang('new_password')}}</label>
                                <input type="password" autocomplete="off" id="user-password-new" onpaste="return false;" class="form-control">                         
                            </div>
                            <div class="form-group">                           
                                <label for="none">{{lang('confirm_password')}}</label>
                                <input type="password" autocomplete="off" id="user-password-confirm" onpaste="return false;" class="form-control">                         
                            </div>                                                        
                                           
                            <div class="form-group">
                                <button class="btn btn-success edit-profile" data-type="2" type="button" id="set-password">
                                    {{lang("submit")}}
                                </button>
                            </div>

                    </div>
                </div>
            </div>            
        </div>
    </div>


{% endblock %}
{% block script %}
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        $(document).on('click', '.edit-profile', function(event) {
            event.preventDefault();
            var type = $(this).data('type');
            var data = {};
            switch(type){
                case 1:
                    data = {
                        "type":type,
                        "realname":$('#user-realname').val()||""
                    };
                    break;
                case 2:
                    data = {
                        "type":type,
                        "oldpassword":$('#user-password-old').val()||"",
                        "password":$('#user-password-new').val()||"",
                        "confirmpassword":$('#user-password-confirm').val()||""
                    }
                    break;
                default:
                    break;
            }
            console.log(data)
            $.post('{{base_url("admin/UserManage/userProfile")}}', data, function(data, textStatus, xhr) {
                /*optional stuff to do after success */
            },"json")
            .always(function(e){
                console.log(e)
            })
            .then(function(e){
                if (e.status!=1) {
                    common.ajaxError(e);
                    return false;
                }
                window.location.reload();
                parent.layer.msg(e.message,{icon:1})
            })            
        });

    });
</script>
{% endblock %}
