{% extends 'common/common.html.twig' %}
{% block style %}
{% endblock %}
{% block container %}
{% set banners = get_block("index_banner")[0]%}
<body>
	{% include 'navigation.html.twig' %}
	<section class="section banner" id="banner">
		<div class="banner-control banner-left">
			<i class="glyphicon glyphicon-menu-left"></i>
			<span class="banner-control-count">	
				<span class="up">1</span>
				<hr class="line">
				<span class="down">12</span>
			</span>
		</div>
		<div class="banner-control banner-right">
			<i class="glyphicon glyphicon-menu-right"></i>
			<span class="banner-control-count">	
				<span class="up">1</span>
				<hr class="line">
				<span class="down">2</span>
			</span>
		</div>
		<ul class="banner-counter">
		</ul>
		<ul class="banner-list">
			{% for banner in banners %}
				{% for item in banner %}

					{% if loop.index == 1 %}
						<li class="{{item.description}}">
							<img src="{{static_url(item.image_url)}}" class="banner-back" alt="">
							<img src="{{static_url("image/banner/text.png")}}" class="banner-1-text" alt="">
						</li>
						{% else %}
						<li class="{{item.description}}">
							<img src="{{static_url(item.image_url)}}" class="banner-back" alt="">
							<article>
								{% if item.description == "banner-salon" %}
									<h2>
										<a href="{{item.url}}"><img src="{{static_url("image/banner/banner-salon-icon.png")}}" class="banner-4-text" alt=""></a>
									</h2>
								{% else %}
									{% if item.title %}
										<h2>{{item.title}}</h2>
									{% endif %}

									{% if item.content %}
										<h4>
											{{item.content|raw}}
										</h4>
									{% endif %}
								{% endif %}
								

							</article>
						</li>	        
					{% endif %}
				{% endfor %}			    
			{% endfor %}			
		</ul>		
	</section>
	<section class="section section-global">
	{% set global = get_block("index_global")[0] %}
		<article>
			<h2>{{global.description}}</h2>
			<p>{{global.content|raw}}</p>
			<hr>
			
		</article>
		<div class="row-md col-md-12">
			{% for item in global.child %}
			    <div class="global-item col-md-4">
			    	<img src="{{static_url(item.image_url)}}" alt="">
			    	<h4>{{item.description}}</h4>
			    	<p>{{item.content}}</p>
			    </div>
			{% endfor %}
		</div>
	</section>
	<section class="section section-cloud">
	{% set global = get_block("index_cloud")[0] %}		
		<article>
		<h2>{{global.description}}</h2>
		{{global.content|raw}}
			
		</article>
		<div class="section-cloud-img">
			<img src="{{static_url(global.image_url)}}" alt="">
		</div>
	</section>
	<section class="section section-platform">
		{% set platform = get_block("index_platform")[0] %}
		{% set advantage = get_block("index_advantage")[0] %}
		<article>
			<h2>{{platform.description}}</h2>
			{{platform.content|raw}}
		</article>
		<hr class="hr-top">
		<div class="row-md">
			{% for item in platform.child %}
				<div class="platform-item hide col-sm-6 col-md-3">
					<div class="img-container">
						<img src="{{static_url(item.image_url)}}" data-change="{{static_url('image/platform/')}}{{loop.index}}.png" alt="">
					</div>
					<h4>{{item.title}}</h4>
					<p>{{item.description}}</p>
				</div>
			{% endfor %}
		</div>
		<div class="row-md">
			{% for item in advantage.child %}
				<div class="platform-info col-sm-4 hide">
					<div class="advantage-img">
						<img src="{{static_url(item.image_url)}}" alt="">
						<h3>{{item.title}}</h3>
					</div>
					<div class="advantage-info">
						<p>{{item.content}}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
	<section class="section section-stat">
		{% set stat = get_block("index_statistic")[0] %}
		<h2>{{stat.description}}</h2>
		<div class="row">
			{% for item in stat.child %}
			    <div class="stat-item">
					<div class="stat-counter counter" data-count="{{item.title}}">
						<span class="counter-p">0</span>
						<span class="counter-content">{{item.content}}</span></div>
					<h4 class="stat-title">{{item.description}}</h4>			    	
			    </div>
			{% endfor %}

		</div>
	</section>
	<section class="section section-news">
		<h2>Eptonic<span></span>{{lang("news")}}</h2>
		<div class="row-md">
			<div class="col-md-6 col-xs-12 news news-left hide">
				{% set activity = get_article_list('{
					"cid":"30",
					"amount":"3"
				}') %}

				<h3 class="news-title">{{activity.articles[0].cate_name}}<a href="activity">{{lang("more")}}</a></h3>
				<ul class="news-list">
					{% for item in activity.articles %}
						<li class="news-item col-xs-12">
							<span class="news-image col-xs-4 col-sm-4">
								<img src="{{static_url(item.art_cover_img)}}" alt="" />
							</span>
							<div class="news-content col-xs-8 col-sm-8">
								<h3><a href="/article/{{item.art_id}}">{{item.art_title}}</a></h3>
								<p class="news-date">{{item.art_description}}</p>
							</div>
						</li>			
					    
					{% endfor %}
				</ul>
			</div>
			<div class="col-md-6 col-xs-12 news news-right hide">
				{% set news = get_article_list('{
					"cid":"31",
					"amount":"3"
				}') %}
				<h3 class="news-title">{{news.articles[0].cate_name}}<a href="activity">{{lang("more")}}</a></h3>				
				<ul class="news-list">
					{% for item in news.articles %}
						<li class="news-item col-xs-12">
							<span class="news-image col-xs-4 col-sm-4">
								<img src="{{static_url(item.art_cover_img)}}" alt="" />
							</span>
							<div class="news-content col-xs-8 col-sm-8">
								<h3><a href="/article/{{item.art_id}}">{{item.art_title}}</a></h3>
								<p class="news-date">{{item.art_release_time|slice(0,11)}}</p>
							</div>
						</li>			
					    
					{% endfor %}
				</ul>
			</div>
		</div>
	</section>
	<section class="section section-partner">
		{% set partner = get_block("index_partner")[0] %}
		<article>
			<h2>{{lang("partner")}}</h2>
		</article>
		<hr>
		<div class="row-md" id="slider">
			<div class="partner-container slider-container">	
				{% for item in partner.child %}
					<div class="partner-item slider-item">
						<img src="{{static_url(item.image_url)}}" title="{{item.title}}" alt="">
					</div>
				{% endfor %}
				{% for item in partner.child %}
					<div class="partner-item slider-item">
						<img src="{{static_url(item.image_url)}}" title="{{item.title}}" alt="">
					</div>
				{% endfor %}				
			</div>
		</div>
	</section>
	{% include 'contact.html.twig'%}
</body>
{% endblock %}
{% block script %}
	<script src="{{static_url('js/banner.js')}}"></script>
	<script src="{{static_url('js/index.js')}}"></script>
{% endblock %}