{% extends "admin/Common/iframe_common.html.twig" %}
{% block container %}
<link rel="stylesheet" type="text/css" href="{{base_url('public/admin/css/plugins/summernote/summernote.css')}}">
<link rel="stylesheet" type="text/css" href="{{base_url('public/admin/css/plugins/summernote/summernote-bs3.css')}}">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content container-fluid">
                    <div class="row">
                        <div class="col-md-3 form-group must">
                            <label for="search-username">{{lang('link_type')}}</label>
                            <select class="form-control" id="add-link-type" data-name="nav_type">
                                <option value="1" {% if navigation.type == '1' %}selected=selected{% endif %}>{{lang("navigation")}}</option>
                                <option value="2" {% if navigation.type == '2' %}selected=selected{% endif %}>{{lang("general_link")}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-3 must {% if navigation.type == '2' %} hide{% endif %}">
                            <label for="">{{lang('navigation_category')}}</label>
                            <select data-name="pid" id="add-pid" class="form-control">
                                <option value="0">{{lang('top_category')}}</option>
                                {% for item in categorys %}
                                    <option value="{{item.id}}" {% if pid == item.id %}selected="selected"{% endif %}>{{item.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3 must">
                            <label for="none">URL</label>
                            <input class="form-control form-data" id="add-url" data-name="url"  value="{{navigation.url}}" />
                        </div>
                        <div class="form-group col-sm-3 must">
                            <label for="">{{lang('open_type')}}</label><br>
                            <div data-name="target" id="add-target" class="btn-group">
                                <button data-value="_self" class="btn btn-white btn-toggle {% if '_self' == navigation.target %} active{% endif %}" >{{lang('current_window')}}</button>                                
                                <button data-value="_blank" class="btn btn-white btn-toggle {% if '_blank' == navigation.target %} active{% endif %}" >{{lang('new_window')}}</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3 must">
                            <label for="none">{{lang("sort")}}</label>
                            <input type="text" id="add-sort" class="numberInput form-control" data-name="sort" value="{{navigation.sort}}">
                        </div>
                    </div>
                    <div class="tabs-container">
                        <ul class="nav nav-tabs"> 
                            {% for enable in e_langs %}  
                                <li {% if loop.first %}class="active"{% endif %}><a data-toggle="tab" href="#tab-{{ loop.index }}" aria-expanded="{% if loop.first %}true{% else %}false{% endif %}">{{enable.language}}</a>
                            </li>
                            {% endfor %}                           
                        </ul>
                            <div class="tab-content">  
                                {% for enable in e_langs %}  
                                    <div id="tab-{{ loop.index }}" data-lang="{{enable.code}}" class="info-tab tab-pane {% if loop.first %}active{% endif %}">
                                        <div class="panel-body">
                                            <div class="form-group must">
                                                <label for="none">{{lang("link_title")}}</label>
                                                <input class="form-control form-data" data-name="name"  value="{{navData[enable.code].name }}" />
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}                                 
                            </div>
                                <div class="form-group mt-20">
                                    <button class="btn btn-success" type="button" data-id="{{nid}}" data-type="{{btn_type}}" id="add-article">
                                        {{lang("submit")}}
                                    </button>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{{base_url('public/admin/js/plugins/summernote/summernote.min.js')}}"></script>    
<script src="{{base_url('public/admin/js/plugins/summernote/lang/summernote-zh-CN.js')}}"></script>    

<script>
jQuery(document).ready(function($) {
    $(document).on('change', '#add-link-type', function(event) {
        var type = $(this).val();
        if(type!=1){
            $('#add-pid').parent().addClass('hide');

        }else{
            $('#add-pid').parent().removeClass('hide');

        }
        /* Act on the event */
    });    
  
    $(document).on('remove', '.note-editor img', function(event) {
        event.preventDefault();
        /* Act on the event */
        alert()
    });
    $(document).on('click', '#add-article', function(event) {
        var data = {
            "nav_type":$('#add-link-type').val(),
            "url":$("#add-url").val(),
            "sort":$('#add-sort').val(),
            "target":$("#add-target .active").data("value")||"_self"
        };
        if (data.nav_type==1) {
            data.pid = $("#add-pid").val();
        }
        $('.info-tab').each(function(index, el) {
            var info = {};
            $(this).find('.form-data').each(function(index, el) {
                var $this = $(this);
                switch ($this[0].nodeName.toLowerCase()) {
                    case "div":
                        info[$this.data("name")] = $this.summernote('code')
                        break;
                    case "textarea":
                        info[$this.data("name")] = $this.text();
                    default:
                        info[$(this).data("name")] = $this.val();
                        break;
                }
            });
            data[$(this).data("lang")] = info;
        });
        if($(this).data('id')!=""){
            data.nid = $(this).data('id')
        }
        data.type = $(this).data('type');
        console.log(data);
        $.post('{{base_url("admin/NavigationManage/editNavigation")}}',data, function(data, textStatus, xhr) {
        },"json")
        .then(function(e){
            if (e.status!=1) {
                common.ajaxError(e);
                return false;
            }    
            parent.layer.msg(e.message,{icon:1,time:1500},function(){
                parent.window.location.reload();
                
            })            
        })
    });    
});
</script>
{% endblock %}