{% extends "admin/Common/iframe_common.html.twig" %}
{% block container %}
<style src="base_url('public/admin/css/plugins/treeview/bootstrap-treeview.css')">
</style>
<style>
	 .treeview .list-group-item{cursor:pointer}.treeview span.indent{margin-left:10px;margin-right:10px}.treeview span.icon{width:12px;margin-right:5px}.treeview .node-disabled{color:silver;cursor:not-allowed}.node-treeview-checkable{}.node-treeview-checkable:not(.node-disabled):hover{background-color:#F5F5F5;} 
</style>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{lang("role_manage")}}</h5>
                    </div>
                    <div class="ibox-content container-fluid">
                    	<form action="{{base_url('admin/RoleManage/index/1')}}">
	                        <div class="row col-md-12">
	                        	<div class="col-md-3 form-group">
	                        		<label for="search-username">{{lang('role_name')}}</label>
	                        		<input type="text" class="form-control" name="role_keywords" id="role_keywords" value="">
	                        	</div>
	                            <div class="col-md-3 form-group">
	                            	<label for="null" class="center-block">&nbsp;</label>
	                            	<button type="submit" class="btn btn-primary" id="search-btn"><i class="fa fa-search"></i>&nbsp;{{lang('search')}}</button>
	    							<button type="button" class="btn btn-primary add-role"><i class="fa fa-plus"></i>&nbsp;{{lang('add')}}
	    							</button>
	                            </div>
	                        </div>
                        </form>
                        <div class="table-responsive col-md-12">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>                                     
                                        <th>{{lang('role_name')}}</th>
                                        <th>{{lang('role_description')}}</th>
                                        <th>{{lang('status')}}</th>
                                        <th>{{lang('create_time')}}</th>
                                        <th>{{lang('actions')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
								{% for data in gData %}
	                                <tr>
	                                	<td>{{data.name}}</td>
	                                	<td>
	                                		
	                                		<span class="tooltip-content" data-toggle="tooltip" data-original-title="{{data.description}}" data-placement="bottom">{{data.description|slice(0,15)}}</span>
	                                	</td>
	                                	<td>
	                                		{% if data.status == 1 %}
	                                		<label class="label label-primary">{{lang('enable')}}</label>
	                                		{% elseif data.status == 0  %}
	                                		<label class="label label-danger">{{lang('disable')}}</label>
	                                		{% else %}
	                                		<label class="label label-default">{{lang('unknown')}}</label>
	                                		    
	                                		{% endif %}
	                            		</td>	
	                                	<td>{{data.create_time}}</td>	
	                                	<td>
											{% if data.is_super !='1' %}
	                                		
	                                		{% if data.status == 1 %}
		                                		<a href="javascript:void(0)" class="btn btn-sm btn-danger status-btn" data-id="{{data.id}}" title="{{lang('disable')}}">
		                                			<i class="fa fa-times"></i>	
	                                			</a>
	                                		{% elseif data.status == 0  %}
		                                		<a href="javascript:void(0)" class="btn btn-sm btn-primary status-btn" data-id="{{data.id}}" title="{{lang('enable')}}">
		                                			<i class="fa fa-check"></i>	
	                                			</a>
	                                		{% else %}
	                                		
	                                		    
	                                		{% endif %}
		                                		<a href="javascript:void(0)" class="btn btn-sm btn-success auth-list" data-id="{{data.id}}" title="{{lang('auth_list')}}"><i class="fa fa-list"></i></a>
		                                		<a href="javascript:void(0)" class="btn btn-sm btn-primary edit-role" data-id="{{data.id}}" title="{{lang('edit')}}"><i class="fa fa-edit"></i></a>
	                                		{% endif %}

	                                	</td>
	                                </tr>
								{% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="fixed-table-pagination col-md-12">
                        	<div class="pull-left pagination-detail">
                        		<span class="pagination-info">{{lang('total_rows')}}<strong>{{pager.total}}</strong>{{lang('rows')}}&nbsp;<strong>{{pager.nowindex}}/{{pager.totalpage}}</strong>{{lang('pages')}}</span>
                    		</div>
                            {% autoescape true %}  
                             {{pager.show(1)|raw }}
                            {% endautoescape %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script src="{{base_url('public/admin/js/plugins/treeview/bootstrap-treeview.js')}}"></script>
<script>
	jQuery(document).ready(function($) {
		$('.tooltip-content').tooltip();
		$('.add-role').click(function(){
    		layer.open({
			  type: 1,
			  closeBtn:2,
			  title:'{{lang("add_role")}}',
			  shadeClose: true, //开启遮罩关闭
			  area: ['600px', 'auto'],
			  content: 
			  '<div class="ibox-content">'+
			  '<form class="form-horizontal">'+
		            '<div class="form-group must">'+
		            '<label class="col-sm-3 control-label">{{lang("role_name")}}:</label>'+
		             	'<div class="col-sm-8">'+
		                    '<input type="text" autocomplete="off" class="form-control" id="add-rolename" placeholder="">'+
		                '</div>'+
		            '</div>'+
		            '<div class="form-group must">'+
		            '<label class="col-sm-3 control-label">{{lang("role_description")}}:</label>'+
		             	'<div class="col-sm-8">'+
		                    '<textarea type="text" rows="4" autocomplete="off" id="add-description" class="form-control" placeholder=""></textarea>'+
		                '</div>'+
		            '</div>'+           
		            '<div class="form-group">'+
		                '<div class="col-sm-offset-3 col-sm-8">'+
		                    '<span class="btn btn-primary" id="add-role">{{lang("add")}}</span>'+
		                '</div>'+
		            '</div>'+
	        	'</form></div>',
	        	success:function(){
								
	        	}
			});

    	});
    	$('.edit-role').click(function(){
    		var $this = $(this);
    		var role;
    		$.ajax({
    			url: '{{base_url("admin/RoleManage/getRoleInfo")}}',
    			type: 'POST',
    			dataType: 'json',
    			data: {rid: $this.data('id')},
    			timeout:4000,
    			async:false
    		})
    		.done(function(data) {
    			if(data.status==1){
    				role = (data.data)
    			}else{
    				common.ajaxError(data)
    			}

    		})
    		.fail(function(e) {
    			common.ajaxError(e);
    		})
			layer.open({
			  type: 1,
			  closeBtn:2,
			  title:'{{lang("edit_role")}}',
			  shadeClose: true, //开启遮罩关闭
			  area: ['600px', 'auto'],
			  content:'<div class="ibox-content">'+
			  '<form class="form-horizontal">'+
		            '<div class="form-group must">'+
		            '<label class="col-sm-3 control-label">{{lang("role_name")}}:</label>'+
		             	'<div class="col-sm-8">'+
		                    '<input type="text" value="'+role.name+'" autocomplete="off" class="form-control" id="edit-rolename" placeholder="">'+
		                '</div>'+
		            '</div>'+
		            '<div class="form-group must">'+
		            '<label class="col-sm-3 control-label">{{lang("role_description")}}:</label>'+
		             	'<div class="col-sm-8">'+
		                    '<textarea type="text" rows="4" autocomplete="off" id="edit-description" class="form-control" placeholder="">'+role.description+'</textarea>'+
		                '</div>'+
		            '</div>'+           
		            '<div class="form-group">'+
		                '<div class="col-sm-offset-3 col-sm-8">'+
		                    '<span class="btn btn-primary" data-id="'+role.id+'" id="edit-role">{{lang("edit")}}</span>'+
		                '</div>'+
		            '</div>'+
	        	'</form></div>',
			});
    	});
    	$(document).on('click', '.auth-list', function(event) {
    		event.preventDefault();
    		var id = $(this).attr('data-id');
    		var defaultData;
    		$.ajax({
    			url: '{{base_url("admin/RoleManage/getAuthList")}}',
    			type: 'POST',
    			dataType: 'json',
    			async:false,
    			data: {rid:id },
    			timeout:4000,
    			beforeSend:function(){
    				layer.load(2);
    			}
    		})
    		.done(function(e) {
    			if (e.status!=1) {
		   			common.ajaxError(e);
		   			return false;
		   		}
    			defaultData = e.data;
    		})
			.fail(function(e) {
				common.ajaxError(e)
			})
			.always(function() {
				layer.closeAll('loading');
			});
    		
          
			layer.open({
			  type: 1,
			  closeBtn:2,
			  title:'{{lang("edit_auth")}}',
			  shadeClose: true, //开启遮罩关闭
			  area: ['800px', '70%'],
			  content:'<div class="ibox-content"><div id="auth-treeview"></div>'+
			  	'<div class="form-group text-center"><button class="btn btn-primary" data-id="'+id+'" id="edit-auth">{{lang("submit")}}</button></div></div>',
			  success:function(){

			  		$('#auth-treeview').treeview({
			  			data:defaultData,
			  			showIcon: false,
			          showCheckbox: true,
			          select:false,		          
			  		}).treeview('expandAll');

				}
			})
    	});

		$(document).on('click', '#edit-auth', function(event) {
			event.preventDefault();
			var checked = $('#auth-treeview').treeview('getChecked');
			var id = $(this).data('id')
			var auth = [];
			for(var i in checked){
				auth.push(checked[i].id)
			}
			var data = {
				rid:id,
				auths:auth
			}
			$.ajax({
				url: '{{base_url("admin/RoleManage/editAuth")}}',
				type: 'POST',
				dataType: 'json',
				data:data,
				beforeSend:function(){
					layer.load(2)
				}
			})
    		.done(function(e) {
    			if (e.status!=1) {
		   			common.ajaxError(e);
		   			return false;
		   		}
		   		layer.closeAll();
		   		layer.msg(e.message,{icon:1,time:1500})
		   		
    		})
			.fail(function(e) {
				common.ajaxError(e)
			})
			.always(function() {
				layer.closeAll('loading');
			});
			
		});
		$(document).on("click", "#add-role", function(){
		   var data = {
		   		rolename:$("#add-rolename").val(),
		   		description:$('#add-description').val(),
		   		type:"add",
		   }
		   $.ajax({
			   	url: '{{base_url("admin/RoleManage/editRole")}}',
			   	type: 'POST',
			   	dataType: 'json',
			   	timeout:4000,
			   	data: data,
			   	beforeSend:function(){
			   		layer.load(2);
			   	}
		   })
		   .done(function(e) {
		   		if (e.status!=1) {
		   			common.ajaxError(e);
		   			return false;
		   		}
		   		layer.closeAll();
		   		window.location.reload();
		   		parent.layer.msg(e.message,{
		   			icon:1
		   		});
		   })
		   .fail(function(e) {
		   		common.ajaxError(e)
		   })
		   .always(function() {
			   	layer.closeAll('loading');
		   });
		   
		});
		$(document).on("click", "#edit-role", function(){
			var id = $(this).data('id')
		   var data = {
		   		rid:id,
		   		rolename:$("#edit-rolename").val(),
		   		description:$('#edit-description').val(),
		   		type:"edit",
		   }
		   $.ajax({
			   	url: '{{base_url("admin/RoleManage/editRole")}}',
			   	type: 'POST',
			   	dataType: 'json',
			   	timeout:4000,
			   	data: data,
			   	beforeSend:function(){
			   		layer.load(2);
			   	}
		   })
		   .done(function(e) {
		   		if (e.status!=1) {
		   			common.ajaxError(e);
		   			return false;
		   		}
		   		layer.closeAll();
		   		window.location.reload();
		   		parent.layer.msg(e.message,{
		   			icon:1
		   		});
		   })
		   .fail(function(e) {
		   		common.ajaxError(e)
		   })
		   .always(function() {
			   	layer.closeAll('loading');
		   });
		   
		});		
    	$(document).on('click','.status-btn',function(e){
    		var $this = $(this);
    		var id = $(this).attr("data-id");
    		var index = $(this).parent().index()-2
    		if(id==""||id==null)return false;
    		$.ajax({
    			url: '{{base_url("admin/RoleManage/roleEnable")}}',
    			type: 'POST',
    			dataType: 'json',
    			data: {'rid': id},
    			timeout:4000,
			   	beforeSend:function(){
			   		layer.load(2);
			   	}
    		})
    		.done(function(e) {
		   		if (e.status!=1) {
		   			common.ajaxError(e);
		   			return false;
		   		}
		   		layer.closeAll();
		   		$this.parent().parent().find('td').eq(index).html('<span for="" class="label label-'+{"1":"primary","0":"danger"}[e.data]+'">'+{"1":"{{lang('enable')}}","0":"{{lang('disable')}}"}[e.data]+'</span>')
		   		$this.removeClass('btn-danger btn-primary').addClass({"1":"btn-danger","0":"btn-primary"}[e.data])
		   		$this.attr('title',{"1":"{{lang('disable')}}","0":"{{lang('enable')}}"}[e.data]).html('<i class="fa fa-'+{"1":"times","0":"check"}[e.data]+'"></i>');
		   		layer.tips(e.message,$this,{
		   			tips:[4,"#1ab394"]
		   		})

    		})
			.fail(function(e) {
				common.ajaxError(e)
			})
			.always(function() {
			   	layer.closeAll('loading');
			});
    	})
	});
</script>
{% endblock %}